.note {
  position: absolute;
  top: 40px;
  left: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  color: #333;
  padding: 10px;
  margin: 10px;
  font-family: Arial, sans-serif;
}

.handle {
  cursor: move;
  background-color: #ccc;
  padding: 5px;
  border-radius: 3px;
}

.delete-button {
  background-color: #ff4d4d;
  position: absolute;
  color: white;
  left: 0px;
  top: 0px;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.resize-handle {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
}
